<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>À propos</h1>
  <p>Ceci est un mini projet en architecture monolithique avec Node.js.</p>
  <a href="/">← Retour</a>
</body>
</html>
