<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <h1>Bienvenue sur la page d’accueil</h1>

  <!-- Affichage du compteur de visites -->
  <p>Cette page a été visitée <strong>
      <%= visits %>
    </strong> fois depuis le démarrage du serveur.</p>

  <nav>
    <a href="/">Accueil</a> |
    <a href="/about">À propos</a> |
    <a href="/contact">Contact</a>
    <a href="/404">Test 404</a>
  </nav>
</body>

</html>